<div id="wrapper" ng-app="dashboard.candidatos">
  <div id="sidebar-wrapper"> <div class="header-logo"><img src="/images/perfil.jpg"></div>
    <div class="info-people-container">
        <div class="info-poeple">
          <h3>Jose Perez Garcia</h3>
          <hr width="170px">
          <h4>Canton: Felipe Angeles</h4>
          <hr width="170px">
          <h4>Distrito: El Refugio</h4>
          <hr width="170px">
          <h4>Provincia: San Jose</h4>
          <hr width="170px">
          <h4>Edad: 43 Años</h4>
        </div>
    </div>
  </div>

 <div class="title">Candidatos postulados</div>
 <div id="page-content-wrapper">
    <div class="container-fluid">
        <table datatable="" class="row-border hover">
          <thead>
            <tr>
              <th>FullName</th>
              <th>Province</th>
              <th>Canton</th>
              <th>District</th>
              <th>Partido</th>
              <th>Election Date</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="candidate in candidates">
                <td>{{candidate.nombre +" " + candidate.ap_paterno + " " + candidate.ap_materno}}</td>
                <td>{{candidate.provincia.descripcion}}</td>
                <td>{{candidate.provincia.canton.descripcion}}</td>
                <td>{{candidate.provincia.distrito.descripcion}}</td>
                <td>{{candidate.partido.descripcion}}</td>
                <td>{{candidate.fecha_eleccion.fecha}}</td>
                <td>
                  <button class="btn btn-success"><i class="fa fa-pencil" aria-hidden="true"></i> Edit</button>
                  <button class="btn btn-danger" type="submit" ng-click="deleteItem(candidate)"><i class="fa fa-trash-o" aria-hidden="true"></i> Remove</button> 
                </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
