<div id="wrapper" ng-app="dashboard.candidatos">
  <div id="sidebar-wrapper"> <div class="header-logo"><img src="/images/perfil.jpg"></div>
    <div class="info-people-container">
        <div class="info-poeple">
          <h3>Jose Perez Garcia</h3>
          <hr width="170px">
          <h4>Canton: Felipe Angeles</h4>
          <hr width="170px">
          <h4>Distrito: El Refugio</h4>
          <hr width="170px">
          <h4>Provincia: San Jose</h4>
          <hr width="170px">
          <h4>Edad: 43 Años</h4>
        </div>
    </div>
  </div>

 <div class="title">Candidatos postulados</div>
 <div id="page-content-wrapper">
    <div class="container-fluid">
        <table datatable="" class="row-border hover">
          <thead>
            <tr>
              <th>FullName</th>
              <th>Provincia</th>
              <th>Canton</th>
              <th>Distrito</th>
              <th>Partido</th>
              <th>Fecha Eleccion</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <tr>
                <td>Pepe Gomez</td>
                <td>San Jose</td>
                <td>Central</td>
                <td>Merida</td>
                <td>Partido A</td>
                <td>2000-2005</td>
                <td><button class="btn btn-success">Edit</button> </td>
            </tr>
            <tr>
              <td>Adrina Gomez</td>
              <td>San Jose</td>
              <td>oeste</td>
              <td>Merida</td>
              <td>Partido A</td>
              <td>2000-2005</td>
              <td><button class="btn btn-success">Edit</button> </td>
            </tr>
            <tr>
              <td>Carlos Gomez</td>
              <td>San Jose</td>
              <td>Central</td>
              <td>Merida</td>
              <td>Partido A</td>
              <td>2000-2005</td>
              <td><button class="btn btn-success">Edit</button> </td>
            </tr>
          </tbody>
        </table>

      </div>
    </div>
  </div>

