<div id="page-content-wrapper">
  <div class="container-fluid">

<table datatable="" class="row-border hover">
    <thead>
    <tr>
        <th>FullName</th>
        <th>Provincia</th>
        <th>Canton</th>
        <th>Distrito</th>
        <th>Partido</th>
        <th>Fecha Eleccion</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td>Pepe Gomez</td>
        <td>San Jose</td>
        <td>Central</td>
        <td>Merida</td>
        <td>Partido A</td>
        <td>2000-2005</td>
        <td><button class="btn btn-success">Edit</button> </td>
    </tr>
    <tr>
      <td>Adrina Gomez</td>
      <td>San Jose</td>
      <td>oeste</td>
      <td>Merida</td>
      <td>Partido A</td>
      <td>2000-2005</td>
      <td><button class="btn btn-success">Edit</button> </td>
    </tr>
    <tr>
      <td>Carlos Gomez</td>
      <td>San Jose</td>
      <td>Central</td>
      <td>Merida</td>
      <td>Partido A</td>
      <td>2000-2005</td>
      <td><button class="btn btn-success">Edit</button> </td>
    </tr>

    </tbody>
</table>

<div id="page-content-wrapper">
<div class="container-fluid">
