<div id="wrapper">
  <div id="sidebar-wrapper"> <div class="header-logo"><img src="/images/perfil.jpg"></div>
    <div class="info-people-container">
        <div class="info-poeple">
          <h3>Jose Perez Garcia</h3>
          <hr width="170px">
          <h4>Canton: Felipe Angeles</h4>
          <hr width="170px">
          <h4>District: El Refugio</h4>
          <hr width="170px">
          <h4>Province: San Jose</h4>
          <hr width="170px">
          <h4>Age: 43 Años</h4>
        </div>
    </div>
  </div>

 <div class="title">New Election Registration</div>
 <hr>
 <div id="page-content-wrapper">
    <div class="container-fluid">

      <form name="saveForm" ng-submit="saveForm.$valid && saveItem()" class="form-inline row-magin buttons">
        <!--home row -->
        <div class="row form-group-block-full">
          <div class="col-md-12">
              <div class="form-group">
                <label for="fecha-eleccion">From: </label>
                <select class="form-control" ng-options="eleccion.fecha  for eleccion in fecha_inicial" ng-model="date_election_i" required=""></select>

                <label for="fecha-eleccion">To: </label>
                <select class="form-control" ng-options="eleccion.fecha  for eleccion in fecha_final" ng-model="date_election_e" required=""></select>
              </div>
          </div>
        </div><!--end row -->
<fieldset  ng-repeat="candidate in candidates">

<div class="title2">Candidate #{{$index+1}}</div>
 <hr>
        <!--home row -->
        <div class="row form-group-block">
          <div class="col-md-12">
              <div class="form-group">
                <label for="label-provincia">Provincia: </label>
                <select class="form-control" ng-options="province.description for province in provinces" ng-model="candidate.province" ng-change="showCantones(candidate.province.cantones)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-canton">Canton: </label>
                <select class="form-control" ng-options="canton.description for canton in cantones" ng-model="candidate.canton" ng-change="showDistricts(candidate.canton.districts)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-distritos">Disctrict: </label>
                <select class="form-control" ng-options="district.description for district in districts" ng-model="candidate.district" required=""></select>
              </div>
          </div>
        </div><!--end row -->

        <!--home row -->
        <div class="row form-group-select">
          <div class="col-md-4">
              <div class="form-group">
                <label for="label-partido">Match: </label>
                <select class="form-control" ng-options="match.description for match in matches" ng-model="candidate.match"></select>
              </div>
          </div><!--end col -->

          <div class="col-md-4">
            <div class="form-group">
              <div class="preview-img"> </div>
            </div>
          </div><!--end col -->

          <div class="col-md-4">
            <div class="form-group">
              <div class="preview-img"> <img ngf-thumbnail="candidate.img"></div>
              <div class="button-avatar">
                <div class="button"
                  ngf-select="uploadFile(candidate.img, $index)"
                  ng-model="candidate.img"
                  name="file"
                  ngf-pattern="'image/*'"
                  ngf-accept="'image/*'"
                  ngf-max-size="1MB" ngf-min-height="150"
                  ngf-resize="{width: 150, height: 150}">Image candidate</div>
              </div>
              <i class="fa fa-check check-request" ng-if="requestImage.status==200" aria-hiden="true"></i>
            </div>
          </div><!--end col -->

        </div><!--end row -->

        <!--home row -->
        <div class="row no-margin">
          <div class="col-xs-12 col-sm-5 col-md-5 col-lg-5 form-group-md">
              <div class="form-group">
                <label for="label-nombre" class="col-md-6">Name: </label>
                <input type="text" class="form-control col-md-6" placeholder="Name" ng-model="candidate.name"/>
              </div>

              <div class="form-group">
                <label for="label-last-name" class="col-md-6">First Last Name: </label>
                <input type="text" class="form-control col-md-6" placeholder="Fist last name" ng-model="candidate.first_last_name"/>
              </div>

              <div class="form-group">
                <label for="label-second-name" class="col-md-6">Second Last Name: </label>
                <input type="text" class="form-control col-md-6" placeholder="Second last name" ng-model="candidate.second_last_name" />
              </div>

              <div class="form-group">
                <div class="col-md-6"> <label for="genere">Gender:</label></div>
                <div class="col-md-6">
                  <div class="radio"><label><input type="radio" ng-model="candidate.gender" value="1">Female</label></div>
                  <div class="radio"><label> <input type="radio" ng-model="candidate.gender" value="2">Masculine </label></div>
                </div><!--end col -->
              </div>
          </div><!--end col -->

          <div class="col-md-7">
            <textarea class="form-control" placeholder="Propuestas" rows="8" cols="80" ng-model="candidate.proposal" required=""></textarea>
          </div><!--end col -->
        </div><!--end row -->

        <div class="row text-right">
          <div class="col-md-12"> <button class="btn btn-danger circle-button" ng-show="$last" ng-click="removeChoice()"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
        </div>

          <div ng-if="request.status==200" class="alert alert-success success-request-fixed" role="alert">
            <div class="container-success"><i class="fa fa-check"></i> <h4> Register saved...</h4></div>
          </div>

</fieldset>
 <button class="btn btn-success circle-button flotante" ng-click="addNewChoice()"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
        <!--home row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-success" ng-disabled="!saveForm.$valid"  type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Guardar</button>
            <button class="btn btn-danger" type="button" ng-click="clearItem()"><i class="fa fa-ban" aria-hidden="true"></i> Cancelar</button>
          </div>
        </div><!--end row -->

      </form><!--end form -->

    </div>
  </div>
</div>
