<div id="wrapper">
  <div id="sidebar-wrapper" ng-show="isLoggedIn()" ng-controller="AdminController">
    <div class="header-logo">
      <img ng-src="{{image}}">
    </div>
    <div class="info-people-container">
      <div class="info-poeple">
        <h3>{{name | capitalize}} {{firstLastName | capitalize}} {{secondLastName | capitalize}}</h3>
        <hr width="170px">
        <h4>Canton: {{canton}}</h4>
        <hr width="170px">
        <h4>District: {{district}}</h4>
        <hr width="170px">
        <h4>Province: {{province}}</h4>
        <hr width="170px">
        <h4>Birth Date: {{birthDate}}</h4>
      </div>
    </div>
  </div>

  <div class="title">New Election Registration</div>
  <hr>
  <div id="page-content-wrapper">
    <div class="container-fluid">

      <form name="saveForm" ng-submit="saveForm.$valid && saveItem()" class="form-inline row-magin buttons">
        <!--home row -->
        <div class="row form-group-block-full">
          <div class="col-md-offset-3 col-md-8">
            <div class="form-group">
              <label for="fecha-eleccion">Election: </label>
              <select class="form-control" ng-options="election.electionDay for election in elections"  ng-model="electionDay" required=""></select>
            </div>
          </div>
        </div><!--end row -->

        <fieldset  ng-repeat="candidate in candidates">

        <!--home row -->
        <div class="row form-group-block">
          <div class="col-md-12">
              <div class="form-group">
                <label for="label-provincia">Provincia: </label>
                <select class="form-control" ng-options="province.description for province in provinces" ng-model="candidate.province" ng-change="showCantones(candidate.province.cantones)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-canton">Canton: </label>
                <select class="form-control" ng-options="canton.description for canton in cantones" ng-model="candidate.canton" ng-change="showDistricts(candidate.canton.districts)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-distritos">Disctrict: </label>
                <select class="form-control" ng-options="district.description for district in districts" ng-model="candidate.district" required=""></select>
              </div>
          </div>
          </div><!--end row -->
        <!--home row -->
                <hr>
        <div class="row form-group-select select-item">
          <label class="title-label">Parties</label>
          <div class="col-md-2"  ng-repeat="party in parties">
            <div class="form-group">
              <div class="preview-img">
                <div class="container-icon-register"> <i class="fa fa-check item-check" ng-if="party.selectItem"  ng-model="checkItem" aria-hidden="true"></i></div>
                <img  ng-src="{{party.image}}" ng-model="candidate.party" ng-click="getParty(party, $index, $parent.$index)">
              </div>
            </div><!--end col -->
          </div><!--end row -->
          <!--home row -->
          

          <div class="row text-right">
            <div class="col-md-12"> <button class="btn btn-danger circle-button" ng-show="false" ng-click="removeChoice()"><i class="fa fa-trash-o" aria-hidden="true"></i></button></div>
          </div>

          <div ng-if="request.status==200" class="alert alert-success success-request-fixed" role="alert">
            <div class="container-success"><i class="fa fa-check"></i> <h4> Register saved...</h4></div>
          </div>
        </fieldset>
        <hr>
        <div class="row no-margin">
            <div class="col-md-2">
              <div class="form-group">
                <div class="preview-img"> <img ngf-thumbnail="candidate.img"></div>
                <div class="button-avatar">
                  <div class="button" ngf-select="uploadFile(candidate.img, $index)" ng-model="candidate.img" name="file" ngf-pattern="'image/*'" ngf-accept="'image/*'" ngf-max-size="1MB" ngf-min-height="150" ngf-resize="{width: 150, height: 150}">Image candidate</div>
                </div>
                <i class="fa fa-check check-request check-selected" ng-if="requestImage.status==200" aria-hiden="true"></i>
              </div>
            </div><!--end col -->
            <div class="col-md-10">
              <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 form-group-md">
                <div class="form-group">
                  <label for="label-nombre" class="col-md-6">Name: </label>
                  <input type="text" class="form-control col-md-6" placeholder="Name" ng-model="candidate.name"/>
                </div>

                <div class="form-group">
                  <label for="label-last-name" class="col-md-6">First Last Name: </label>
                  <input type="text" class="form-control col-md-6" placeholder="First last name" ng-model="candidate.firstLastName"/>
                </div>

                <div class="form-group">
                  <label for="label-second-name" class="col-md-6">Second Last Name: </label>
                  <input type="text" class="form-control col-md-6" placeholder="Second last name" ng-model="candidate.secondLastName" />
                </div>

                <div class="form-group">
                  <div class="col-md-6"> <label for="genere">Gender:</label></div>
                  <div class="col-md-6">
                    <div class="radio"><label><input type="radio" ng-model="candidate.gender" value="1">Female</label></div>
                    <div class="radio"><label> <input type="radio" ng-model="candidate.gender" value="2">Masculine </label></div>
                  </div><!--end col -->
                </div>
              </div><!--end col -->
              <textarea class="form-control" placeholder="Proposals" rows="8" cols="80" ng-model="candidate.proposal" required=""></textarea>
            </div><!--end col -->
          </div><!--end row -->

        <button class="btn btn-success circle-button flotante" ng-click="addNewChoice()" ng-show="false"><i class="fa fa-user-plus" aria-hidden="true"></i></button>
        <!--home row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-success" ng-disabled="!saveForm.$valid"  type="submit"><i class="fa fa-floppy-o" aria-hidden="true"></i> Save</button>
            <button class="btn btn-danger" type="button" ng-click="clearItem()"><i class="fa fa-ban" aria-hidden="true"></i> Cancel</button>
          </div>
        </div><!--end row -->
      </form><!--end form -->
    </div>
  </div>
</div>
