<div id="wrapper">
  <div id="sidebar-wrapper"> <div class="header-logo"><img src="/images/perfil.jpg"></div>
    <div class="info-people-container">
        <div class="info-poeple">
          <h3>Jose Perez Garcia</h3>
          <hr width="170px">
          <h4>Canton: Felipe Angeles</h4>
          <hr width="170px">
          <h4>District: El Refugio</h4>
          <hr width="170px">
          <h4>Province: San Jose</h4>
          <hr width="170px">
          <h4>Age: 43 Años</h4>
        </div>
    </div>
  </div>

 <div class="title">New Election Registration</div>
 <hr>
 <div id="page-content-wrapper">
    <div class="container-fluid">

      <form name="saveForm" ng-submit="saveForm.$valid && saveItem()" class="form-inline row-magin buttons">
        <!--home row -->
        <div class="row form-group-block-full">
          <div class="col-md-12">
              <div class="form-group">
                <label for="fecha-eleccion">From: </label>
                <select class="form-control" ng-options="eleccion.fecha  for eleccion in fecha_inicial" ng-model="candidate.fecha_eleccion" required=""></select>
              
                <label for="fecha-eleccion">To: </label>
                <select class="form-control" ng-options="eleccion.fecha  for eleccion in fecha_final" ng-model="candidate.fecha_eleccion" required=""></select>
              </div>
          </div>
        </div><!--end row -->
<fieldset  data-ng-repeat="candidate in candidates">

<div class="title2">Candidate #?</div>
 <hr>
        <!--home row -->
        <div class="row form-group-block">
          <div class="col-md-12">
              <div class="form-group">
                <label for="label-provincia">Province: </label>
                <select class="form-control" ng-options="province.descripcion for province in provinces" ng-model="candidate.province" ng-change="showCantones(candidate.province.cantones)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-canton">Canton: </label>
                <select class="form-control" ng-options="canton.descripcion for canton in cantones" ng-model="candidate.province.canton" ng-change="showDistricts(candidate.province.canton.distritos)" required=""></select>
              </div>
              <div class="form-group">
                <label for="label-distritos">Disctrict: </label>
                <select class="form-control" ng-options="district.descripcion for district in districts" ng-model="candidate.district" required=""></select>
              </div>
          </div>
        </div><!--end row -->

        <!--home row -->
        <div class="row form-group-block">
          <div class="col-md-12">
              <div class="form-group">
                <label for="label-partido">Party: </label>
                <select class="form-control" ng-options="partido.descripcion for partido in partidos" ng-model="candidate.partido"></select>
              </div>
              <div class="form-group">
                <label for="label-imagen">Select image: </label>
                <div class="button" ngf-select="uploadFile($file)">Upload on file select</div>
              </div>
          </div>
        </div><!--end row -->

        <!--home row -->
         
        <div class="row no-margin form-group-block">
          <div class="col-md-12">
              <div class="form-group">
                <label for="label-nombre">Name: </label>
                <input type="text" class="form-control" placeholder="Nombre" ng-model="candidate.nombre"/>
              </div>
              <div class="form-group">
                <label for="label-nombre">First Last Name: </label>
                <input type="text" class="form-control" placeholder="Apellido Paterno" ng-model="candidate.ap_paterno"/>
              </div>
              <div class="form-group">
                <label for="label-nombre">Second Last Name: </label>
                <input type="text" class="form-control" placeholder="Apellido Materno" ng-model="candidate.ap_materno" />
                
              </div>
          </div>
        </div><!--end row -->
      
        

        <!--home row -->
        <div class="row form-group-block">
          <div class="col-md-12">
            <textarea class="form-control" placeholder="Propuestas" rows="6" cols="160" ng-model="candidate.propuesta" required=""></textarea>
             <button class="btn btn-danger" ng-show="$last" ng-click="removeChoice()">Remove Candidate</button>
          </div>

        </div><!--end row -->

</fieldset>
 <button class="btn btn-success" ng-click="addNewChoice()">Add New Candidate</button>


        <!--home row -->
        <div class="row">
          <div class="col-md-12 text-center">
            <button class="btn btn-success" ng-disabled="!saveForm.$valid" type="submit">Save</button>
            <button class="btn btn-danger">Cancel</button>
          </div>
        </div><!--end row -->

      </form><!--end form -->

    </div>
  </div>
</div>
