

 <div id="wrapper" ng-app="dashboard.candidatos">
      <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-show="isAdmin()">
      <div class="header-logo">
        <img ng-src="{{image}}">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>{{name | capitalize}} {{first_lastname | capitalize}} {{second_lastname | capitalize}}</h3>
            <hr width="170px">
            <h4>Canton: {{canton}}</h4>
            <hr width="170px">
            <h4>District: {{district}}</h4>
            <hr width="170px">
            <h4>Province: {{province}}</h4>
            <hr width="170px">
            <h4>Birth Date: {{birth_date}}</h4>
        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->

      <!-- Page Content -->
       <div class="title" ng-show="isAdmin()">Tools</div>
       <hr>

      <div id="page-content-wrapper" ng-view>
          <div class="container-fluid">
            <div class="header">


      <div class="btncenter" ng-show="isAdmin()">
        <div class="buttonlabel">
           <button type="button" class="btn btn-default bigbutton" ng-click="voteNow()"><i class="fa fa-commenting-o" aria-hidden="true"></i></button>
           <label>Vote</label>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default bigbutton" ng-click="showCharts()"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
            <label>Charts</label>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default bigbutton" ng-click="newCandidate()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <label>New Election</label>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default bigbutton" ng-click="showCandidates()"><i class="fa fa-list" aria-hidden="true"></i></button>
            <label>Candidates</label>
        </div>
        <br>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default bigbutton" ng-click="newParty()"><i class="fa fa-pencil" aria-hidden="true"></i></button>
            <label>New Party</label>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default bigbutton" ng-click="showParties()"><i class="fa fa-list" aria-hidden="true"></i></button>
            <label>Parties</label>
        </div>
      </div>


            </div>
          </div>
      </div>
  </div>

<div ng-hide="isAdmin()">

<div class="page-header">
    <center><h1>VoteMachine.IO</h1></center>
  </div>
  <center><h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can vote.</h3></center>
  </div>
