  <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <div class="header-logo">
        <img src="/images/perfil.jpg">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>Jose Perez Garcia</h3>
            <hr width="170px">
            <h4>Canton: Felipe Angeles</h4>
            <hr width="170px">
            <h4>District: El Refugio</h4>
            <hr width="170px">
            <h4>Province: San Jose</h4>
            <hr width="170px">
            <h4>Age: 43 Años</h4>
        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->
	<br>
	<br>
	<h1> MUESTRA DE GRAFICAS </h1>
<!--aqui le estamos diciendo a la grafica que respete el espacio. si lo omitimos tomara la pantalla completa, 
si lo ponemos en porcentaje nos dara una grafica mas responsiva -->
	<div style = "width: 20%;" id = "div1">
		<canvas id = "barChart" height = "800" width = "800"></canvas>
	</div>

<!--aqui le estamos diciendo a la grafica que respete el espacio. si lo omitimos tomara la pantalla completa, 
si lo ponemos en porcentaje nos dara una grafica mas responsiva -->
	<div style = "width: 20%;" id = "div2">
		<canvas id = "lineChart" height = "800" width = "800"></canvas>
	</div>
<!-- 3er chart-->
	<div style = "width: 20%;" id = "div3">
		<canvas id = "barChart1" height = "800" width = "800"></canvas>
	</div>
<!-- 4to chart-->
	<div style = "width: 20%;" id = "div4">
		<canvas id = "lineChart1" height = "800" width = "800"></canvas>
	</div>
<!-- 5to chart-->
	<div style = "width: 20%;" id = "div5">
		<canvas id = "barChart2" height = "800" width = "800"></canvas>
	</div>
<!-- 6to chart-->
	<div style = "width: 20%;" id = "div6">
		<canvas id = "barChart3" height = "800" width = "800"></canvas>
	</div>