  <div ng-app="voting-app" ng-controller="AdminController">


  <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-show="isAdmin()">
      <div class="header-logo">
        <img src="/images/perfil.jpg">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>Jose Perez Garcia</h3>
            <hr width="170px">
            <h4>Canton: Felipe Angeles</h4>
            <hr width="170px">
            <h4>District: El Refugio</h4>
            <hr width="170px">
            <h4>Province: San Jose</h4>
            <hr width="170px">
            <h4>Age: 43 Años</h4>
        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->
	<br>
	<br>
	<h1 ng-show="isAdmin()" align = "right"> GRAPHICS SAMPLE </h1>
<!--We need to give this instruction to the graphics because we need them to respect the given space, 
  if  we skip this they'll take all the screen, for a very responsive graphics put the parameters in percentages-->
	<div style = "width: 20%;" id = "div1" ng-show="isAdmin()">
		<canvas id = "barChart" height = "800" width = "800"></canvas>
	</div>

<!--2nd chart-->
	<div style = "width: 20%;" id = "div2" ng-show="isAdmin()">
		<canvas id = "lineChart" height = "800" width = "800"></canvas>
	</div>
<!-- 3th chart-->
	<div style = "width: 20%;" id = "div3" ng-show="isAdmin()">
		<canvas id = "barChart1" height = "800" width = "800"></canvas>
	</div>
<!-- 4th chart-->
	<div style = "width: 20%;" id = "div4" ng-show="isAdmin()">
		<canvas id = "lineChart1" height = "800" width = "800"></canvas>
	</div>
<!-- 5th chart-->
	<div style = "width: 20%;" id = "div5" ng-show="isAdmin()">
		<canvas id = "barChart2" height = "800" width = "800"></canvas>
	</div>
<!-- 6th chart-->
	<div style = "width: 20%;" id = "div6" ng-show="isAdmin()">
		<canvas id = "barChart3" height = "800" width = "800"></canvas>
	</div>

<!-- charts with json button-->
<a href = "/#/JSONtest"><button type = "submit" class = "btn btn-primary"> Charts w/ JSON </button></a>
<a href = "/#/graphics"><button type = "submit" class = "btn btn-primary"> Gender Charts </button></a>

<!--for login-->
<div ng-hide="isLoggedIn()">

 <div class="page-header">
    <center><h1>VoteMachine.IO</h1></center>
  </div>
  <center><h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can vote.</h3></center>
	</div>