
 <div id="wrapper">

 

 <div ng-controller="graphicsController" id="wrapper">

      <!-- Sidebar -->
        <div id="sidebar-wrapper" ng-show="isLoggedIn()" ng-controller="AdminController">
      <div class="header-logo"> 
        <img ng-src="{{image}}">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>{{name | capitalize}} {{first_lastname | capitalize}} {{second_lastname | capitalize}}</h3>
            <hr width="170px">
            <h4>Canton: {{canton}}</h4>
            <hr width="170px">
            <h4>District: {{district}}</h4>
            <hr width="170px">
            <h4>Province: {{province}}</h4>
            <hr width="170px">

            <h4>Birth Date: {{birth_date}}</h4>

        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->

      <!-- Page Content -->
       <div class="title" >Charts</div>
       <div class="buttonlabel">
           <button type="button" class="btn btn-default smallbutton" ng-click="showChart('General')"><i class="fa fa-bar-chart" aria-hidden="true"></i></button>
           <p>General</p>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default smallbutton" ng-click="showChart('Hour')"><i class="fa fa-line-chart" aria-hidden="true"></i></button>
            <p>Hour</p>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default smallbutton" ng-click="showChart('Age')"><i class="fa fa-pie-chart" aria-hidden="true"></i></button>
            <p>Age</p>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default smallbutton" ng-click="showChart('Early')"><i class="fa fa-area-chart" aria-hidden="true"></i></button>
            <p>Early</p>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default smallbutton" ng-click="showChart('Late')"><i class="fa fa-area-chart" aria-hidden="true"></i></button>
            <p>Late</p>
        </div>
        <div class="buttonlabel">
            <button type="button" class="btn btn-default smallbutton" ng-click="showChart('Genders')"><i class="fa fa-area-chart" aria-hidden="true"></i></button>
            <p>Total</p>
        </div>

       <hr>

      <div id="page-content-wrapper" ng-view>
          <div class="container-fluid">
            <!--votes div-->
<div ng-show="generalChart" style = "width: 80%;" id="chartCanvas">
 <canvas id="canvas"></canvas>
 <br>
</div>
<div ng-show="hourChart" style = "width: 80%;" id="chartCanvas1">
 <canvas id="canvas1"></canvas>
 <br>
</div>
<div ng-show="ageChart" style = "width: 80%;" id="chartCanvas2">
 <canvas id="canvas2"></canvas>
 <br>
</div>
<div ng-show="earlyChart" style = "width: 80%;" id="chartCanvas3">
 <canvas id="canvas3"></canvas>
 <br>
</div>
<div ng-show="lateChart" style = "width: 80%;" id="chartCanvas4">
 <canvas id="canvas4"></canvas>
 <br>
</div>
          </div>
      </div>
  </div>
   
 <script type="text/javascript">
 $.ajax({url:"http://localhost:3000/api/citizens/graph/vote2",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data){
  var myData = (data);
  hourChartFunction();
  //console.log(myData[0].name);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",
   hidden: true,

   backgroundColor:"rgba(0, 0, 255, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   hidden: true,
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
  ,
  {
   label: "Total",
   backgroundColor:"rgba(0, 0, 0, 0.5)",
   data : myData.mapProperty("Total") //actual value (which becomes the graph)
  }
       ]
  };
 var ctx = document.getElementById("canvas").getContext("2d");


 var myNewChart = new Chart(ctx , {
    type: "bar",
    data: barChartData,
    options:{
      scales: {
         
          yAxes: [{

              
               ticks: {
                  beginAtZero:true
              }

          }]
      }
    }
});
 //}  
 }); 
 </script>
 <script type="text/javascript">
 function hourChartFunction(){
 $.ajax({url:"http://localhost:3000/api/citizens/graph/gender/time",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data){
  var myData = (data);
  ageChartFunction();
  //console.log(myData[0].name);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData1 = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",

   backgroundColor:"rgba(0, 0, 255, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };
 var ctx = document.getElementById("canvas1").getContext("2d");


 var myNewChart = new Chart(ctx , {
    type: "bar",
    data: barChartData1,
    options:{
      scales: {
         
          yAxes: [{

              
               ticks: {
                  beginAtZero:true
              }

          }]
      }
    }
});
 //}  
 }); }
 </script>

  <script type="text/javascript">
  function ageChartFunction(){
 $.ajax({url:"http://localhost:3000/api/citizens/graph/age",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data){
  var myData = (data);
  earlyChartFunction();
  //console.log(myData[0].name);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData2 = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",

   backgroundColor:"rgba(0, 0, 255, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };
 var ctx = document.getElementById("canvas2").getContext("2d");


 var myNewChart = new Chart(ctx , {
    type: "bar",
    data: barChartData2,
    options:{
      scales: {
         
          yAxes: [{

              
               ticks: {
                  beginAtZero:true
              }

          }]
      }
    }
});
 //}  
 }); }
 </script>

  <script type="text/javascript">
  function earlyChartFunction(){
$.ajax({url:"http://localhost:3000/api/citizens/graph/districts/10",dataType:"json"})
  .fail(function(){alert("Im a failure")})
  .done(function(data){
  var myData = (data);
  lateChartFunction();
  console.log(myData[0].nombre);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData3 = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",
   backgroundColor:"rgba(0, 0, 255, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };

 //window.onload = function(){
//console.log("cheerio")
console.log(data)
 var ctx = document.getElementById("canvas3").getContext("2d");


 var myNewChart3 = new Chart(ctx , {
    type: "bar",
    data: barChartData3, 
    options:{
      scales: {
         
          yAxes: [{

              
               ticks: {
                  beginAtZero:true
              }

          }]
      }
    }
});
 //}  
 }); }
 </script>
  <script type="text/javascript">
  function lateChartFunction(){
$.ajax({url:"http://localhost:3000/api/citizens/graph/districts/19",dataType:"json"})
  .fail(function(){alert("Im a failure")})
  .done(function(data){
  var myData = (data);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData4 = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",
   backgroundColor:"rgba(0, 0, 255, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };

 //window.onload = function(){
//console.log("cheerio")
console.log(data)
 var ctx = document.getElementById("canvas4").getContext("2d");


 var myNewChart4 = new Chart(ctx , {
    type: "bar",
    data: barChartData4, 
});
 //}  
 }); }
 </script>
