<br>
<br>
<h1> THIS IS A JSON TEST WITH CHARTJS</h1>
<div style = "width: 80%;" id="chartCanvas">
 <canvas id="canvas"></canvas>
 <br>
</div>
<div style = "width: 100%;" id="chartCanvas1">
  <canvas id="canvas1"></canvas>

 <script type="text/javascript">
/*$.ajax({url:"http://localhost:3000/api/citizens/graph/gender/both",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data){
  var myData = (data);
  console.log(myData[0].nombre);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",
   backgroundColor:"rgba(153, 99, 132, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };

 //window.onload = function(){
//console.log("cheerio")
console.log(data)
 var ctx = document.getElementById("canvas").getContext("2d");


 var myNewChart = new Chart(ctx , {
    type: "bar",
    data: barChartData, 
});
 //}  
 }); */
 </script>
 <script type="text/javascript">
 //$.ajax({url:"http://localhost:3000/api/citizens/graph/vote2",dataType:"json"})
$.ajax({url:"http://localhost:3000/api/citizens/graph/gender/time",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data){
  var myData = (data);
  console.log(myData[0].name);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData.mapProperty('rank') to get an array of all ranks 
 barChartData = {
    labels : myData.mapProperty('_id'),//Labels
     datasets : [
       {
   label: "Men",
   backgroundColor:"rgba(0, 0, 132, 0.5)",
   data : myData.mapProperty("Men_Total") //actual value (which becomes the graph)
  },
  {
   label: "Women",
   backgroundColor:"rgba(253, 91, 232, 0.5)",
   data : myData.mapProperty("Women_Total") //actual value (which becomes the graph)
  }
       ]
  };

 //window.onload = function(){
//console.log("cheerio")
console.log(data)
 var ctx = document.getElementById("canvas").getContext("2d");


 var myNewChart = new Chart(ctx , {
    type: "bar",
    data: barChartData, 
});
 //}  
 }); 
 </script>


<script type="text/javascript">/*
$.ajax({url:"data1.json",dataType:"json"})
  .fail(function(){alert("There has been an error, please check your internet connection")})
  .done(function(data1){
  var myData1 = (data1);
  console.log(myData1[0].nombre);
Array.prototype.mapProperty = function(property) {
      return this.map(function (obj) {
       return obj[property];
      });

     };

// Example: myData1.mapProperty('rank') to get an array of all ranks 
 barChartData1 = {
    labels : myData1.mapProperty('nombre'),//Labels
     datasets : [
       {
   label: "1era Ronda",
   backgroundColor:"rgba(153, 99, 132, 0.5)",
   data : myData1.mapProperty('__v') //actual value (which becomes the graph)
  },
      {
  label: "2da Ronda",
  backgroundColor: "rgba(254, 98, 131, 0.5)",
  data : myData1.mapProperty('__v1') //actual value (which becomes the graph)
      }
       ]
  };

 var ctx = document.getElementById("canvas1").getContext("2d");


 var myNewChart1 = new Chart(ctx , {
    type: "bar",
    data: barChartData1, 
});
 //}  
 }); */
 </script>