<style>
body{
   background-image: url(../images/voteimg.jpg);
}
h1,label{
 color: black;
}
</style>
<center>
  <div ng-show = "error" class = "alert alert-danger row">
    <span>{{ error.message }}</span>
  </div>
  <form ng-submit = "logIn()">
  <div class = "login-form">
    <img src="../images/LogoVM.png" height = "100">
    <h1><center>Login to VoteMachine</center></h1>
    <div class = "form-horizontal">
      <div class="form-group">
        <label for = "inputuser" class = "col-sm-4 control-label">Electoral Code</label>
        <br>
        <div class= "col-xs-offset-1 col-sm-10">
        <input type="text"
        class="form-control"
        placeholder="Electoral code"
        ng-model="user.username"></input>
      </div>
      </div>
      <div class = "form-horizontal">
      <div class="form-group">
        <label for = "inputPassword" class = "col-xs-offset-1 col-sm-2 control-label">Password</label>
        <br>
        <div class="col-xs-offset-1 col-sm-10">
        <input type="password"
        class="form-control"
        placeholder="Password"
        ng-model="user.password"></input>
      </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-3 col-sm-4">
         <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </div>
      </div>
  </div>
  </div>
  </form>
</center>
