<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div ng-controller="votingController" id="presidencial" class="container-fluid" ng-hide="votingavailable">
	<!-- Sidebar -->
      <div id="sidebar-wrapper">
      <br></br>
      <div class="header-logo">
        <img src="/images/perfil.jpg">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>Jose Perez Garcia</h3>
            <hr width="170px">
            <h4>Canton: Felipe Angeles</h4>
            <hr width="170px">
            <h4>District: El Refugio<h4>
            <hr width="170px">
            <h4>Province: San Jose<h4>
            <hr width="170px">
            <h4>Age: 43 Años<h4>
        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->


	<!--Datos primer a tercer candidato presidencial y barra lateral-->
	<div class="row">
	<center class="tipoEleccion">Presidential Elections</center>
		<!--Columna para espaciado -->
		<div class="col-md-3">
		</div>
		<!-- Datos primer candidato  presidencial-->
 		<div class="col-md-3">
 		 	
			<div ng-show="candpres1">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand1img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part1img}}"></div>
				</div>
				
    		<p class="CenterName" ng-bind="nomcandpres1"></p>
    		
        	<button class="btn-light" ng-click="show(1)">Campaign promises</button>
        	<div>
        		<span ng-hide="cand1">
        		<p ng-bind="prop1candpres1"></p>
        		<p ng-bind="prop2candpres1"></p>
        		<p ng-bind="prop3candpres1"></p>
        		</span>
        		<span ng-show="cand1"></span>
        		<button class="btn-primary" ng-click="votepres(1)" ng-bind="msgPresCand1"></button>
        	</div>
        	</div>
        	<br>
        	
		</div>

		<!-- Datos segundo candidato presidencial -->
 		<div class="col-md-3">
 			<div ng-show="candpres2">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand2img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part2img}}"></div>
				</div>
    			<p class="CenterName" ng-bind="nomcandpres2"></p>
        		<button class="btn-light" ng-click="show(2)">Campaign promises</button>
        		<div>
        			<span ng-hide="cand2">
        			<p ng-bind="prop1candpres2"></p>
        			<p ng-bind="prop2candpres2"></p>
        			<p ng-bind="prop3candpres2"></p>
        			</span>
        			<span ng-show="cand2"></span>
        			<button class="btn-primary" ng-click="votepres(2)" ng-bind="msgPresCand2"></button>
        		</div>
        	</div>
		</div>

		<!-- Datos tercer candidato  presidencial -->
 		<div class="col-md-3">
			<div ng-show="candpres3">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand3img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part3img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="nomcandpres3"></p>
	        	<button class="btn-light" ng-click="show(3)">Campaign promises</button>
	        	<div>
	        		<span ng-hide="cand3">
	        		<p ng-bind="prop1candpres3"></p>
	        		<p ng-bind="prop2candpres3"></p>
	        		<p ng-bind="prop3candpres3"></p>
	        		</span>
	        		<span ng-show="cand3"></span>
	        		<button class="btn-primary" ng-click="votepres(3)" ng-bind="msgPresCand3"></button>
	        	</div>
        	</div>
		</div>

	</div>
	<!-- Candidatos presidenciales 4 a 6  -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">
		</div>

		<!-- Datos cuarto candidato presidencial -->
		<div class="col-md-3">
 		 	
			<div ng-show="candpres4">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand4img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part4img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="nomcandpres4"></p>
	        	<button class="btn-light" ng-click="show(4)">Campaign promises</button>
	        	<div>
	        		<span ng-hide="cand4">
	        		<p ng-bind="prop1candpres4"></p>
	        		<p ng-bind="prop2candpres4"></p>
	        		<p ng-bind="prop3candpres4"></p>
	        		</span>
	        		<span ng-show="cand4"></span>
	        		<button class="btn-primary" ng-click="votepres(4)" ng-bind="msgPresCand4"></button>
	        	</div>
        	</div>
        	<br>
        	
		</div>

		<!-- Datos quinto candidato presidencial -->
		<div class="col-md-3">
 		 	
			<div ng-show="candpres5">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand5img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part5img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="nomcandpres5"></p>
	        	<button class="btn-light" ng-click="show(5)">Campaign promises</button>
	        	<div>
	        		<span ng-hide="cand5">
	        		<p ng-bind="prop1candpres5"></p>
	        		<p ng-bind="prop2candpres5"></p>
	        		<p ng-bind="prop3candpres5"></p>
	        		</span>
	        		<span ng-show="cand5"></span>
	        		<button class="btn-primary" ng-click="votepres(5)" ng-bind="msgPresCand5"></button>
	        	</div>
        	</div>
        	<br>
        	
		</div>

		<!-- Datos sexto candidato presidencial -->
		<div class="col-md-3">
 		 	
			<div ng-show="candpres6">
				<div id="container">
    				<div id="main_image"><img class="candidato" src="{{cand6img}}"></div>
    				<div id="overlay_image"><img class="partido" src="{{part6img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="nomcandpres6"></p>
	        	<button class="btn-light" ng-click="show(6)">Campaign promises</button>
	        	<div>
	        		<span ng-hide="cand6">
	        		<p ng-bind="prop1candpres6"></p>
	        		<p ng-bind="prop2candpres6"></p>
	        		<p ng-bind="prop3candpres6"></p>
	        		</span>
	        		<span ng-show="cand6"></span>
	        		<button class="btn-primary" ng-click="votepres(6)" ng-bind="msgPresCand6"></button>
	        	</div>
        	</div>
        	<br>
        	
		</div>
	</div>

	<!-- Opciones Otro cantidato y anular voto -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">

		</div>
		
		<!-- Espacio Otro-->
		<div class="col-md-6">
		<button class="btn-info" ng-click="showother()">Other</button>
		<input ng-show="othercand" type="text" height="40px" style="width: 300px;height: 68px">

		</div>

		<!-- Espacio Anular voto-->
		<div class="col-md-3">
		<button class="btn-info" ng-click="nullvote()">Null Vote</button>
		</div>

	</div>


</div>


<!--Seccion 4 (confirmar voto) -->
<div id="finalizar" class="container-fluid">
	<div class="row">
		<!--Columnas para espacio -->
		<div class="col-md-6">
		</div>
		<!--Boton para confirmar voto -->
		<div class="col-md-3">
			<!--Boton para confirmar voto -->
			<button class="btn-primary" ng-click="endVote()">Finish</button>
			<p ng-bind="Voto1"></p>
			<p ng-bind="Voto2"></p>
			<p ng-bind="Voto3"></p>
		</div>

	</div>
</div>
<!--<script src="/javascripts/controllers/votingController.js" type="text/javascript"></script>-->
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


