<link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
<div id="wrapper">
<div  id="presidencial" class="container-fluid" ng-hide="votingavailable" ng-show="isLoggedIn()" ng-controller="AdminController">
	  <!-- Sidebar -->
      <div id="sidebar-wrapper" ng-show="isLoggedIn()" ng-controller="AdminController">
        <div class="header-logo">
          <img ng-src="{{image}}">
        </div>
        <div class="info-people-container">
             <div class="info-poeple">
              <h3>{{name | capitalize}} {{firstLastName | capitalize}} {{secondLastName | capitalize}}</h3>
              <hr width="170px">
              <h4>Canton: {{canton}}</h4>
              <hr width="170px">
              <h4>District: {{district}}</h4>
              <hr width="170px">
              <h4>Province: {{province}}</h4>
              <hr width="170px">
              <h4>Birth Date: {{birthDate}}</h4>
          </div>
        </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->
<div id="page-content-wrapper">
   <div class="container-fluid">
      <div class="row" ng-show="isLoggedIn()" ng-controller="AdminController">
      <center class="electionType">Presidential Elections</center>
      <hr>

        <div class="row"  >
          <div ng-repeat="candidate in electionInfo[0].candidates track by $index">
          <div class="clearfix" ng-if="$index % 3 == 0"></div>
          <div class="col-md-4">
              <div id="container">
                  <div id="main_image"><img class="candidate" src="{{candidate.image}}"></div>
                  <div id="overlay_image"><img class="party" src="{{candidate.party.image}}"></div>
              </div>
                <p class="CenterName">{{candidate.name +' '+ candidate.firstLastName}}</p>
                  <button class="btn-light" ng-click="showDetails = ! showDetails">Campaign Promises</button>
                  <div>
                    <span ng-show="showDetails">
                    <p>{{candidate.proposal}}</p>
                    <p>No federal government profit from student loans. (Nov 2015)</p>
                    <p>Opposes Common Core. (Feb 2015)</p>
                    </span>
                    <button class="btn-primary" ng-click="confirmationVote($index, candidate.name + ' ' + candidate.firsLasttName)">Vote</button>
                  </div>
            </div>
          </div>
        </div>
    </div>
<!--

	<div class="row" ng-show="isLoggedIn()" ng-controller="AdminController">
	<center class="electionType">Presidential Elections</center>
	<hr>

		<div class="col-md-3">
		</div>

 		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">

			<div ng-show="candPres1">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand1img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part1img}}"></div>
				</div>

    		<p class="CenterName" ng-bind="displayNameCandidate1"></p>


        	<button class="btn-light" ng-click="show(1)">Campaign Promises</button>
        	<div>
        		<span ng-hide="cand1">
        		<p ng-bind="prop1candPres1"></p>
        		<p ng-bind="prop2candPres1"></p>
        		<p ng-bind="prop3candPres1"></p>
        		</span>
        		<span ng-show="cand1"></span>

        		<button class="btn-primary" ng-click="confirmationVote(1,displayNameCandidate1)" ng-bind="msgPresCand1"></button>
        	</div>
        	</div>
        	<br>

		</div>


 		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">
 			<div ng-show="candPres2">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand2img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part2img}}"></div>
				</div>
    			<p class="CenterName" ng-bind="displayNameCandidate2"></p>
        		<button class="btn-light" ng-click="show(2)">Campaign Promises</button>
        		<div>
        			<span ng-hide="cand2">
        			<p ng-bind="prop1candPres2"></p>
        			<p ng-bind="prop2candPres2"></p>
        			<p ng-bind="prop3candPres2"></p>
        			</span>
        			<span ng-show="cand2"></span>
        			<button class="btn-primary" ng-click="confirmationVote(2,displayNameCandidate2)" ng-bind="msgPresCand2"></button>
        		</div>
        	</div>
		</div>


 		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">
			<div ng-show="candPres3">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand3img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part3img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="displayNameCandidate3"></p>
	        	<button class="btn-light" ng-click="show(3)">Campaign Promises</button>
	        	<div>
	        		<span ng-hide="cand3">
	        		<p ng-bind="prop1candPres3"></p>
	        		<p ng-bind="prop2candPres3"></p>
	        		<p ng-bind="prop3candPres3"></p>
	        		</span>
	        		<span ng-show="cand3"></span>
	        		<button class="btn-primary" ng-click="confirmationVote(3,displayNameCandidate3)" ng-bind="msgPresCand3"></button>
	        	</div>
        	</div>
		</div>

	</div>

	<div class="row" ng-show="isLoggedIn()" ng-controller="AdminController">

		<div class="col-md-3" >
		</div>

		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">

			<div ng-show="candPres4">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand4img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part4img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="displayNameCandidate4"></p>
	        	<button class="btn-light" ng-click="show(4)">Campaign Promises</button>
	        	<div>
	        		<span ng-hide="cand4">
	        		<p ng-bind="prop1candPres4"></p>
	        		<p ng-bind="prop2candPres4"></p>
	        		<p ng-bind="prop3candPres4"></p>
	        		</span>
	        		<span ng-show="cand4"></span>
	        		<button class="btn-primary" ng-click="confirmationVote(4,displayNameCandidate4)" ng-bind="msgPresCand4"></button>
	        	</div>
        	</div>
        	<br>

		</div>


		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">

			<div ng-show="candPres5">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand5img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part5img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="displayNameCandidate5"></p>
	        	<button class="btn-light" ng-click="show(5)">Campaign Promises</button>
	        	<div>
	        		<span ng-hide="cand5">
	        		<p ng-bind="prop1candPres5"></p>
	        		<p ng-bind="prop2candPres5"></p>
	        		<p ng-bind="prop3candPres5"></p>
	        		</span>
	        		<span ng-show="cand5"></span>
	        		<button class="btn-primary" ng-click="confirmationVote(5,displayNameCandidate5)" ng-bind="msgPresCand5"></button>
	        	</div>
        	</div>
        	<br>

		</div>


		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">

			<div ng-show="candPres6">
				<div id="container">
    				<div id="main_image"><img class="candidate" src="{{cand6img}}"></div>
    				<div id="overlay_image"><img class="party" src="{{part6img}}"></div>
				</div>
	    		<p class="CenterName" ng-bind="displayNameCandidate6"></p>
	        	<button class="btn-light" ng-click="show(6)">Campaign Promises</button>
	        	<div>
	        		<span ng-hide="cand6">
	        		<p ng-bind="prop1candPres6"></p>
	        		<p ng-bind="prop2candPres6"></p>
	        		<p ng-bind="prop3candPres6"></p>
	        		</span>
	        		<span ng-show="cand6"></span>
	        		<button class="btn-primary" ng-click="confirmationVote(6,displayNameCandidate6)" ng-bind="msgPresCand6"></button>
	        	</div>
        	</div>
        	<br>

		</div>


	</div> -->

	<!-- Other candidate and null vote options -->
	<div class="row" ng-show="isLoggedIn()" ng-controller="AdminController">
		<!-- Spacing column-->
		<div class="col-md-3">

		</div><br><br>

		<!-- Other-->
		<div class = "other-vote">
		<h3><center>Independent candidate name</center><h3>
		<div class="col-xs-offset-2">
		<input type="text">
		</div>
		</div>

		<!-- Null vote-->
		<div class = "null-vote">
		<h3><center>Null vote</center></h3>
		<center><div class="col-xs-offset-1 col-md-3">
		<button class="btn-info" ng-click="nullvote()">Null Vote</button></center>
		</div>
		</div>




	</div>


</div>


<!--Section 4 (confirm vote) -->
<div id="finalizar" class="container-fluid">
	<div class="row" ng-show="isLoggedIn()" ng-controller="AdminController">
		<!--Spacing column-->
		<div class="col-md-4">
		</div>

		<div class="col-md-3" ng-show="isLoggedIn()" ng-controller="AdminController">
			<!--Confirm vote button -->
			<button class="btn-primary" ng-click="registerVote()">Finish</button>
			<p ng-bind="Voto1"></p>
			<p ng-bind="Voto2"></p>
			<p ng-bind="Voto3"></p>
		</div>

	</div>
</div>

<div ng-hide="isLoggedIn()" ng-controller="AdminController">

 <div class="page-header">
    <center><h1>VoteMachine.IO</h1></center>
  </div>
  <center><h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can vote.</h3></center>
  </div>
</div>
</div>
</div>
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
