
<!DOCTYPE html>
<html ng-app="votingApp">
  <head>
    <title>VoteMachine.IO</title>
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link rel="stylesheet" href="bower_components/datatables/media/css/jquery.dataTables.css">
    <link rel="stylesheet" href="bower_components/angular-loading-bar/src/loading-bar.css">
    <link rel="stylesheet" type="text/css" href="/css/landingUser.css">
    <link href="css/bootstrap337.min.css" rel="stylesheet">
    <link href="/css/adminDash.css" type="text/css" rel="stylesheet">
    <link href="/css/navbar.css" type="text/css" rel="stylesheet">
    <link rel="stylesheet" href="/bower_components/font-awesome/css/font-awesome.min.css">
    <link href = "/css/icss.css" type = "text/css" rel = "stylesheet">
      <style> .glyphicon-thumbs-up { cursor:pointer } </style>
  </head>

<body>
<nav class="navbar navbar-inverse navbar-fixed-top" ng-controller="NavCtrl">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#"><img src="../images/LogoVM.png" height = "40" width = "200"></a>
    </div>

    <!-- Collect the nav links, forms, and other content for toggling -->
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
       <!-- <li class="active"><a href="#">Home <span class="sr-only">(current)</span></a></li>-->

      <li class="dropdown">
      </li>
      <ul class="nav navbar-nav navbar-right">
        <!--<li><a href="#">Settings</a></li>-->
        <li class="dropdown" >
          <a ng-show="isLoggedIn()" href="" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Profile <span class="caret"></span></a>

          <ul class="dropdown-menu">
            <li ng-show="isLoggedIn()"><a>{{ currentUser() }}</a></li>
            <li ng-show="isLoggedIn()"><a href="" ng-click="logOut()">Log Out</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/login">Log In</a></li>
            <li ng-hide="isLoggedIn()"><a href="/#/register">Register</a></li>
          </ul>

        </li>
      </ul>
    </div><!-- /.navbar-collapse -->
  </div><!-- /.container-fluid -->
</nav>



        <ui-view>

        </ui-view>

<script type="text/ng-template" id="/home.html">

  <div class="page-header">
    <center><img src="../images/LogoVM.png" height = "100"></center>
  </div>

  <div ng-hide="isLoggedIn()">

  <center><h3>You need to <a href="/#/login">Log In</a> or <a href="/#/register">Register</a> before you can vote.</h3></center>
  </div>

</script>



<script type="text/ng-template" id="/login.html">
  <center>
	  <div class="page-header">
	    <h1>VoteMachine.IO</h1>
	  </div>
	  <div ng-show="error" class="alert alert-danger row">
	    <span>{{ error.message }}</span>
	  </div>

	  <form ng-submit="logIn()"
	    style="margin-top:30px;margin-left: 500px;margin-right: 500px;">
      <!--log In -->
	    <div class =  "text-center">
        <h1 span class = "glyphicon glyphicon-user" style = "color:283E51"></h1></span>
      </div>
      <div class = "form-horizontal">
	    <div class="form-group">
        <label for = "inputuser" class = "col-sm-2 control-label">Usuario</label>
      <div class= "col-sm-8">
	      <input type="text"
	      class="form-control"
	      placeholder="Username"
	      ng-model="user.clave_electoral"></input>
	    </div>
      </div>
      </div>
      <div class = "text-center">
        <h1 span class="glyphicon glyphicon-lock" style = "color: #283E51"></h1></span>
      </div>
      <label for="inputPassword" class="col-sm-2 control-label">Contraseña</label>
      <div class="col-sm-8">
	    <div class="form-group">
	      <input type="password"
	      class="form-control"
	      placeholder="Password"
	      ng-model="user.pass"></input>
	    </div>
      </div>
      </div>
      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-8">
	       <button type="submit" class="btn btn-primary">Log In</button>
        </div>
      </div>
	  </form>
  </center>
</script>

<!-- Charts-->
<script type="text/ng-template" id="/charts.html">
  <div class="page-header">
  <h1> MUESTRA DE GRAFICAS </h1>
  </div>
<!--aqui le estamos diciendo a la grafica que respete el espacio. si lo omitimos tomara la pantalla completa,
si lo ponemos en porcentaje nos dara una grafica mas responsiva -->
  <div style = "width: 20%;" id = "div1">
    <canvas id = "barChart" height = "800" width = "800"></canvas>
  </div>

<!--aqui le estamos diciendo a la grafica que respete el espacio. si lo omitimos tomara la pantalla completa,
si lo ponemos en porcentaje nos dara una grafica mas responsiva -->
  <div style = "width: 20%;" id = "div2">
    <canvas id = "lineChart" height = "800" width = "800"></canvas>
  </div>
<!-- 3er chart-->
  <div style = "width: 20%;" id = "div3">
    <canvas id = "barChart1" height = "800" width = "800"></canvas>
  </div>
<!-- 4to chart-->
  <div style = "width: 20%;" id = "div4">
    <canvas id = "lineChart1" height = "800" width = "800"></canvas>
  </div>
<!-- 5to chart-->
  <div style = "width: 20%;" id = "div5">
    <canvas id = "barChart2" height = "800" width = "800"></canvas>
  </div>
<!-- 6to chart-->
  <div style = "width: 20%;" id = "div6">
    <canvas id = "barChart3" height = "800" width = "800"></canvas>
  </div>
</script>

<script type="text/ng-template" id="/JSONtest.html">
<h1> THIS IS A JSON TEST WITH CHARTJS</h1>
<div style = "width: 50%;" id="chartCanvas">
 <canvas id="canvas"></canvas>
 <br>
</div>
<div style = "width: 50%;" id="chartCanvas1">
  <canvas id="canvas1"></canvas>
</script>


<script type="text/ng-template" id="/login.html">
  <center>

  	  <div class="page-header">
  	    <h1>VoteMachine.IO</h1>
  	  </div>

  	  <div ng-show="error" class="alert alert-danger row">
  	    <span>{{ error.message }}</span>
  	  </div>

  	  <form ng-submit="logIn()"
  	    style="margin-top:30px;margin-left: 500px;margin-right: 500px;">

  	    <h3>Log In</h3>

  	    <div class="form-group">
  	      <input type="text"
  	      class="form-control"
  	      placeholder="Username"
  	      ng-model="user.username"></input>
  	    </div>
  	    <div class="form-group">
  	      <input type="password"
  	      class="form-control"
  	      placeholder="Password"
  	      ng-model="user.password"></input>
  	    </div>
  	    <button type="submit" class="btn btn-primary">Log In</button>
  	  </form>
  </center>
</script>

    <!--Librerias -->
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-datatables/dist/angular-datatables.js"></script>
    <script src="bower_components/datatables.net/js/jquery.dataTables.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-router/0.2.10/angular-ui-router.js"></script>
    <script src="bower_components/ng-file-upload/ng-file-upload.min.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src ="js/Chart.min.js"></script>

    <!--Modulos-->
    <script src="javascripts/angularApp.js"></script>
    <script src="javascripts/services/votingService.js"></script>
    <script src ="javascripts/services/serviceProvince.js"></script>
    <script src ="javascripts/services/serviceParty.js"></script>
    <script src ="javascripts/services/serviceElection.js"></script>
    <script src ="javascripts/services/serviceCandidate.js"></script>
    <script src="javascripts/controllers/registerCandidateController.js"></script>
    <script src="javascripts/controllers/registerPartyController.js"></script>
    <script src="javascripts/controllers/listCandidateController.js"></script>
    <script src="javascripts/controllers/listPartyController.js"></script>
    <script src="javascripts/controllers/votingController.js"></script>
    <script src="javascripts/controllers/graphicsController.js"></script>
    <script src="javascripts/services/serviceProvince.js"></script>
     <script src = "javascripts/controllers/chartsController.js"></script>
     <script src="bower_components/angular-loading-bar/src/loading-bar.js"></script>
     <script src="javascripts/controllers/electionController.js"></script>
     <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script>
    $(".nav li").on("click", function() {
      $(".nav li").removeClass("active");
      $(this).addClass("active");
    });

</script>
  </body>
</html>
