<link href="/css/navbar.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css/css/bootstrap.css">
  <div id="wrapper" ng-app="dashboard.candidatos">
      <!-- Sidebar -->
      <div id="sidebar-wrapper">
      <div class="header-logo">
        <img src="/images/perfil.jpg">
      </div>
      <div class="info-people-container">
          <div class="info-poeple">
            <h3>Nombre Completo</h3>
            <h4>Pepe Gomez</h4>
            <h3>Informacion Personal</h3>
            <h4>Dirección: Felipe Angeles, El Refugio</h4>
            <h4>Provincia: San Jose<h4>
        </div>
      </div>
      </div>
      <!-- /#sidebar-wrapper -->
      <!--Nav bar -->

      <!-- Page Content -->
      <div id="page-content-wrapper" ng-view>
          <div class="container-fluid">
            <div class="header">
              <h4>Registro de Candidatos</h4>
            </div>
          </div>
      </div>
  </div>
  <!-- /#wrapper -->
