<!DOCTYPE HTML>
<html>

<head>

<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
<script src="/js/voting.js" type="text/javascript"></script>
<link rel="stylesheet" type="text/css" href="/css/landingUser.css">
<link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<link href="/css/navbar.css" type="text/css" rel="stylesheet">
<link rel="stylesheet" type="text/css" href="/bower_components/bootstrap-css/css/bootstrap.css">
<script>
	 $(document).ready(function (){
            $("#senScroll").click(function (){
                $('html, body').animate({
                    scrollTop: $("#senadores").offset().top
                }, 2000);
            });
        });
</script>
<TITLE>Votar</TITLE>
</head>

<body ng-app="VotingApp" data-spy="scroll" data-target=".navbar" data-offset="50">

<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container-fluid">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">votingApp</a>
    </div>
    <div>
      <div class="collapse navbar-collapse" id="myNavbar">
        <ul class="nav navbar-nav">
          <li ng-controller="VoteCtrl" ng-hide="votingavailable"><a href="#presidencial">Presidencial</a></li>
          <li ng-controller="VoteCtrlsen" ng-hide="votingavailable"><a id="senScroll">Senadores</a></li>
          <li ng-controller="VoteCtrldip" ng-hide="votingavailable"><a href="#diputados">Diputados</a></li>
          <li><a href="#finalizar">Finalizar</a></li>
          </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</nav>

<div  class="row">
	<!-- Barra lateral de usuario-->
		<div class="col-md-3">
 			<div id="FixedImage">
    			<img id=Foto src=https://avatars0.githubusercontent.com/u/139426?v=3&s=400 height="200">
    			<p class="blocktext"> Nombre Apellido Apellido</p>
    			<p class="blocktext"> Dato1</p>
    			<p class="blocktext"> Dato2</p>
    			<p class="blocktext"> Dato extremadamente largo con muchas palabras como direccion o alguna cosa asi</p>

    		</div>

		</div>
</div>

<div ng-controller="VoteCtrl" id="presidencial" class="container-fluid" ng-hide="votingavailable">
	<!--Datos primer a tercer candidato presidencial y barra lateral-->
	<div class="row">
	<center class="tipoEleccion">Elecciones presidenciales</center>
		<!--Columna para espaciado -->
		<div class="col-md-3">
		</div>
		<!-- Datos primer candidato  presidencial-->
 		<div class="col-md-3">

			<div ng-show="candpres1">
			<img class="candidato" src={{cand1img}} height="200">
    		<p class="CenterName" ng-bind="nomcandpres1"></p>
    		<p class="CenterName" ng-bind="partidocand1"></p>
        	<img width="200" src={{imageUrlprop}} ng-click="show(1)">
        	<div>
        		<span ng-hide="cand1">
        		<p ng-bind="prop1candpres1"></p>
        		<p ng-bind="prop2candpres1"></p>
        		<p ng-bind="prop3candpres1"></p>
        		</span>
        		<span ng-show="cand1"></span>
        		<a href="#senadores" ><img  ng-click ="votepres(1)" src="{{imageUrlpres1}}" width="200"></a>
        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos segundo candidato presidencial -->
 		<div class="col-md-3">
 			<div ng-show="candpres2">
				<img class="candidato" src={{cand2img}} width="200">
    			<p class="CenterName" ng-bind="nomcandpres2"></p>
    			<p class="CenterName" ng-bind="partidocand2"></p>
        		<button class="btn-info" ng-click="show(2)">Mostrar propuestas <span ng-bind="nomcandpres2"></span></button>
        		<div>
        			<span ng-hide="cand2">
        			<p ng-bind="prop1candpres2"></p>
        			<p ng-bind="prop2candpres2"></p>
        			<p ng-bind="prop3candpres2"></p>
        			</span>
        			<span ng-show="cand2"></span>
        			<a href="#senadores" ><img ng-click ="votepres(2)" src="{{imageUrlpres2}}" width="200"></a>
        		</div>
        	</div>
		</div>

		<!-- Datos tercer candidato  presidencial -->
 		<div class="col-md-3">
			<div ng-show="candpres3">
				<img class="candidato" src={{cand3img}} width="200">
	    		<p class="CenterName" ng-bind="nomcandpres3"></p>
	    		<p class="CenterName" ng-bind="partidocand3"></p>
	        	<button class="botoncandidato" ng-click="show(3)">Mostrar propuestas <span ng-bind="nomcandpres3"></span></button>
	        	<div>
	        		<span ng-hide="cand3">
	        		<p ng-bind="prop1candpres3"></p>
	        		<p ng-bind="prop2candpres3"></p>
	        		<p ng-bind="prop3candpres3"></p>
	        		</span>
	        		<span ng-show="cand3"></span>
	        		<a href="#senadores" ><img ng-click ="votepres(3)" src="{{imageUrlpres3}}" width="200"></a>
	        	</div>
        	</div>
		</div>

	</div>
	<!-- Candidatos presidenciales 4 a 6  -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">
		</div>

		<!-- Datos cuarto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres4">
				<img class="candidato" src={{cand4img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres4"></p>
	    		<p class="CenterName" ng-bind="partidocand4"></p>
	        	<button class="btn-info" ng-click="show(4)">Mostrar propuestas <span ng-bind="nomcandpres4"></span></button>
	        	<div>
	        		<span ng-hide="cand4">
	        		<p ng-bind="prop1candpres4"></p>
	        		<p ng-bind="prop2candpres4"></p>
	        		<p ng-bind="prop3candpres4"></p>
	        		</span>
	        		<span ng-show="cand4"></span>
	        		<a href="#senadores" ><img ng-click ="votepres(4)" src="{{imageUrlpres4}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos quinto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres5">
				<img class="candidato" src={{cand5img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres5"></p>
	    		<p class="CenterName" ng-bind="partidocand5"></p>
	        	<button class="btn-info" ng-click="show(5)">Mostrar propuestas <span ng-bind="nomcandpres5"></span></button>
	        	<div>
	        		<span ng-hide="cand5">
	        		<p ng-bind="prop1candpres5"></p>
	        		<p ng-bind="prop2candpres5"></p>
	        		<p ng-bind="prop3candpres5"></p>
	        		</span>
	        		<span ng-show="cand5"></span>
	        		<a href="#senadores" ><img ng-click ="votepres(5)" src="{{imageUrlpres5}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos sexto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres6">
				<img class="candidato" src={{cand6img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres6"></p>
	    		<p class="CenterName" ng-bind="partidocand6"></p>
	        	<button class="btn-info" ng-click="show(6)">Mostrar propuestas <span ng-bind="nomcandpres6"></span></button>
	        	<div>
	        		<span ng-hide="cand6">
	        		<p ng-bind="prop1candpres6"></p>
	        		<p ng-bind="prop2candpres6"></p>
	        		<p ng-bind="prop3candpres6"></p>
	        		</span>
	        		<span ng-show="cand6"></span>
	        		<a href="#senadores" ><img ng-click ="votepres(6)" src="{{imageUrlpres6}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>
	</div>

	<!-- Opciones Otro cantidato y anular voto -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">

		</div>

		<!-- Espacio Otro-->
		<div class="col-md-6">
		<img ng-click="showother()" src="{{imageUrlother}}" width="200">
		<input ng-show="othercand" type="text" height="40px" style="width: 300px;height: 68px">

		</div>

		<!-- Espacio Anular voto-->
		<div class="col-md-3">
		<img src="{{imageUrlnull}}" ng-click="nullvote()" width="200">
		</div>

	</div>


</div>

<div ng-controller="VoteCtrlsen" id="senadores" class="container-fluid" ng-hide="votingavailable">
	<!--Datos primer a tercer candidato presidencial y barra lateral-->
	<div class="row">
	<center class="tipoEleccion">Elecciones de senadores</center>
		<!-- Barra lateral de usuario-->
		<div class="col-md-3">


		</div>
		<!-- Datos primer candidato  presidencial-->
 		<div class="col-md-3">

			<div ng-show="candpres1">
			<img class="candidato" src={{cand1img}} height="200">
    		<p class="CenterName" ng-bind="nomcandpres1"></p>
    		<p class="CenterName" ng-bind="partidocand1"></p>
        	<button class="botoncandidato" ng-click="show(1)">Mostrar propuestas <span ng-bind="nomcandpres1"></span></button>
        	<div>
        		<span ng-hide="cand1">
        		<p ng-bind="prop1candpres1"></p>
        		<p ng-bind="prop2candpres1"></p>
        		<p ng-bind="prop3candpres1"></p>
        		</span>
        		<span ng-show="cand1"></span>
        		<a href="#diputados" ><img ng-click ="votepres(1)" src="{{imageUrlpres1}}" width="200"></a>
        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos segundo candidato presidencial -->
 		<div class="col-md-3">
 			<div ng-show="candpres2">
				<img class="candidato" src={{cand2img}} width="200">
    			<p class="CenterName" ng-bind="nomcandpres2"></p>
    			<p class="CenterName" ng-bind="partidocand2"></p>
        		<button class="botoncandidato" ng-click="show(2)">Mostrar propuestas <span ng-bind="nomcandpres2"></span></button>
        		<div>
        			<span ng-hide="cand2">
        			<p ng-bind="prop1candpres2"></p>
        			<p ng-bind="prop2candpres2"></p>
        			<p ng-bind="prop3candpres2"></p>
        			</span>
        			<span ng-show="cand2"></span>
        			<a href="#diputados" ><img ng-click ="votepres(2)" src="{{imageUrlpres2}}" width="200"></a>
        		</div>
        	</div>
		</div>

		<!-- Datos tercer candidato  presidencial -->
 		<div class="col-md-3">
			<div ng-show="candpres3">
				<img class="candidato" src={{cand3img}} width="200">
	    		<p class="CenterName" ng-bind="nomcandpres3"></p>
	    		<p class="CenterName" ng-bind="partidocand3"></p>
	        	<button class="botoncandidato" ng-click="show(3)">Mostrar propuestas <span ng-bind="nomcandpres3"></span></button>
	        	<div>
	        		<span ng-hide="cand3">
	        		<p ng-bind="prop1candpres3"></p>
	        		<p ng-bind="prop2candpres3"></p>
	        		<p ng-bind="prop3candpres3"></p>
	        		</span>
	        		<span ng-show="cand3"></span>
	        		<a href="#diputados" ><img ng-click ="votepres(3)" src="{{imageUrlpres3}}" width="200"></a>
	        	</div>
        	</div>
		</div>

	</div>
	<!-- Candidatos presidenciales 4 a 6  -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">
		</div>

		<!-- Datos cuarto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres4">
				<img class="candidato" src={{cand4img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres4"></p>
	    		<p class="CenterName" ng-bind="partidocand4"></p>
	        	<button class="botoncandidato" ng-click="show(4)">Mostrar propuestas <span ng-bind="nomcandpres4"></span></button>
	        	<div>
	        		<span ng-hide="cand4">
	        		<p ng-bind="prop1candpres4"></p>
	        		<p ng-bind="prop2candpres4"></p>
	        		<p ng-bind="prop3candpres4"></p>
	        		</span>
	        		<span ng-show="cand4"></span>
	        		<a href="#diputados" ><img ng-click ="votepres(4)" src="{{imageUrlpres4}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos quinto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres5">
				<img class="candidato" src={{cand5img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres5"></p>
	    		<p class="CenterName" ng-bind="partidocand5"></p>
	        	<button class="botoncandidato" ng-click="show(5)">Mostrar propuestas <span ng-bind="nomcandpres5"></span></button>
	        	<div>
	        		<span ng-hide="cand5">
	        		<p ng-bind="prop1candpres5"></p>
	        		<p ng-bind="prop2candpres5"></p>
	        		<p ng-bind="prop3candpres5"></p>
	        		</span>
	        		<span ng-show="cand5"></span>
	        		<a href="#diputados" ><img ng-click ="votepres(5)" src="{{imageUrlpres5}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos sexto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres6">
				<img class="candidato" src={{cand6img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres6"></p>
	    		<p class="CenterName" ng-bind="partidocand6"></p>
	        	<button class="botoncandidato" ng-click="show(6)">Mostrar propuestas <span ng-bind="nomcandpres6"></span></button>
	        	<div>
	        		<span ng-hide="cand6">
	        		<p ng-bind="prop1candpres6"></p>
	        		<p ng-bind="prop2candpres6"></p>
	        		<p ng-bind="prop3candpres6"></p>
	        		</span>
	        		<span ng-show="cand6"></span>
	        		<a href="#diputados" ><img ng-click ="votepres(6)" src="{{imageUrlpres6}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>
	</div>

	<!-- Opciones Otro cantidato y anular voto -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">

		</div>

		<!-- Espacio Otro-->
		<div class="col-md-6">
		<img ng-click="showother()" src="{{imageUrlother}}" width="200">
		<input ng-show="othercand" type="text" height="40px" style="width: 300px;height: 68px">

		</div>

		<!-- Espacio Anular voto-->
		<div class="col-md-3">
		<img src="{{imageUrlnull}}" ng-click="nullvote()" width="200">
		</div>

	</div>


</div>

<div ng-controller="VoteCtrldip" id="diputados" class="container-fluid" ng-hide="votingavailable">
	<!--Datos primer a tercer candidato presidencial y barra lateral-->
	<div class="row">
	<center class="tipoEleccion">Elecciones de diputados</center>
		<!-- Barra lateral de usuario-->
		<div class="col-md-3">


		</div>
		<!-- Datos primer candidato  presidencial-->
 		<div class="col-md-3">

			<div ng-show="candpres1">
			<img class="candidato" src={{cand1img}} height="200">
    		<p class="CenterName" ng-bind="nomcandpres1"></p>
    		<p class="CenterName" ng-bind="partidocand1"></p>
        	<button class="botoncandidato" ng-click="show(1)">Mostrar propuestas <span ng-bind="nomcandpres1"></span></button>
        	<div>
        		<span ng-hide="cand1">
        		<p ng-bind="prop1candpres1"></p>
        		<p ng-bind="prop2candpres1"></p>
        		<p ng-bind="prop3candpres1"></p>
        		</span>
        		<span ng-show="cand1"></span>
        		<a href="#finalizar" ><img ng-click ="votepres(1)" src="{{imageUrlpres1}}" width="200"></a>
        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos segundo candidato presidencial -->
 		<div class="col-md-3">
 			<div ng-show="candpres2">
				<img class="candidato" src={{cand2img}} width="200">
    			<p class="CenterName" ng-bind="nomcandpres2"></p>
    			<p class="CenterName" ng-bind="partidocand2"></p>
        		<button class="botoncandidato" ng-click="show(2)">Mostrar propuestas <span ng-bind="nomcandpres2"></span></button>
        		<div>
        			<span ng-hide="cand2">
        			<p ng-bind="prop1candpres2"></p>
        			<p ng-bind="prop2candpres2"></p>
        			<p ng-bind="prop3candpres2"></p>
        			</span>
        			<span ng-show="cand2"></span>
        			<a href="#finalizar" ><img ng-click ="votepres(2)" src="{{imageUrlpres2}}" width="200"></a>
        		</div>
        	</div>
		</div>

		<!-- Datos tercer candidato  presidencial -->
 		<div class="col-md-3">
			<div ng-show="candpres3">
				<img class="candidato" src={{cand3img}} width="200">
	    		<p class="CenterName" ng-bind="nomcandpres3"></p>
	    		<p class="CenterName" ng-bind="partidocand3"></p>
	        	<button class="botoncandidato" ng-click="show(3)">Mostrar propuestas <span ng-bind="nomcandpres3"></span></button>
	        	<div>
	        		<span ng-hide="cand3">
	        		<p ng-bind="prop1candpres3"></p>
	        		<p ng-bind="prop2candpres3"></p>
	        		<p ng-bind="prop3candpres3"></p>
	        		</span>
	        		<span ng-show="cand3"></span>
	        		<a href="#finalizar" ><img ng-click ="votepres(3)" src="{{imageUrlpres3}}" width="200"></a>
	        	</div>
        	</div>
		</div>

	</div>
	<!-- Candidatos presidenciales 4 a 6  -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">
		</div>

		<!-- Datos cuarto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres4">
				<img class="candidato" src={{cand4img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres4"></p>
	    		<p class="CenterName" ng-bind="partidocand4"></p>
	        	<button class="botoncandidato" ng-click="show(4)">Mostrar propuestas <span ng-bind="nomcandpres4"></span></button>
	        	<div>
	        		<span ng-hide="cand4">
	        		<p ng-bind="prop1candpres4"></p>
	        		<p ng-bind="prop2candpres4"></p>
	        		<p ng-bind="prop3candpres4"></p>
	        		</span>
	        		<span ng-show="cand4"></span>
	        		<a href="#finalizar" ><img ng-click ="votepres(4)" src="{{imageUrlpres4}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos quinto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres5">
				<img class="candidato" src={{cand5img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres5"></p>
	    		<p class="CenterName" ng-bind="partidocand5"></p>
	        	<button class="botoncandidato" ng-click="show(5)">Mostrar propuestas <span ng-bind="nomcandpres5"></span></button>
	        	<div>
	        		<span ng-hide="cand5">
	        		<p ng-bind="prop1candpres5"></p>
	        		<p ng-bind="prop2candpres5"></p>
	        		<p ng-bind="prop3candpres5"></p>
	        		</span>
	        		<span ng-show="cand5"></span>
	        		<a href="#finalizar" ><img ng-click ="votepres(5)" src="{{imageUrlpres5}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>

		<!-- Datos sexto candidato presidencial -->
		<div class="col-md-3">

			<div ng-show="candpres6">
				<img class="candidato" src={{cand6img}} height="200">
	    		<p class="CenterName" ng-bind="nomcandpres6"></p>
	    		<p class="CenterName" ng-bind="partidocand6"></p>
	        	<button class="botoncandidato" ng-click="show(6)">Mostrar propuestas <span ng-bind="nomcandpres6"></span></button>
	        	<div>
	        		<span ng-hide="cand6">
	        		<p ng-bind="prop1candpres6"></p>
	        		<p ng-bind="prop2candpres6"></p>
	        		<p ng-bind="prop3candpres6"></p>
	        		</span>
	        		<span ng-show="cand6"></span>
	        		<a href="#finalizar" ><img ng-click ="votepres(6)" src="{{imageUrlpres6}}" width="200"></a>
	        	</div>
        	</div>
        	<br>

		</div>
	</div>

	<!-- Opciones Otro cantidato y anular voto -->
	<div class="row">
		<!-- Espacio vacio para acomodar-->
		<div class="col-md-3">

		</div>

		<!-- Espacio Otro-->
		<div class="col-md-6">
		<img ng-click="showother()" src="{{imageUrlother}}" width="200">
		<input ng-show="othercand" type="text" height="40px" style="width: 300px;height: 68px">

		</div>

		<!-- Espacio Anular voto-->
		<div class="col-md-3">
		<img src="{{imageUrlnull}}" ng-click="nullvote()" width="200">
		</div>

	</div>


</div>
<!--Seccion 4 (confirmar voto) -->
<div ng-controller="VoteCtrlFin" id="finalizar" class="container-fluid">
	<div class="row">
		<!--Columnas para espacio -->
		<div class="col-md-6">
		</div>
		<!--Boton para confirmar voto -->
		<div class="col-md-3">
			<!--Boton para confirmar voto -->
			<img ng-click="endVote()" src="/images/finalizar.png" width="200">
			<p ng-bind="Voto1"></p>
			<p ng-bind="Voto2"></p>
			<p ng-bind="Voto3"></p>
		</div>

	</div>
</div>



</body>
</html>
