/*Login*/
.login-form{
  width:500px;
  padding:20px 15px;
  background:rgba(75,121,161,0.5);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:150px auto;
}
/*loader*/
.loader {
  position: absolute;
  left: 480px;
  top: 150px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #243B55; /* Darker Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
/*spinner animation for loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
/*null vote div*/
.null-vote{
  width:300px;
  height:120px;
  padding:5px 5px;
  background:rgba(75,121,161,0.2);
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  margin:50px auto;
  margin-right: 100px;
}
/*other vote div*/
.other-vote{
  width:370px;
  height:160px;
  padding:5px 5px;
  background:rgba(75,121,161,0.2);
  border-radius:2px;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  margin:50px auto;
  margin-left: 0px;
  float: left;
}