body {
background-image: url(../images/bg.PNG);
background-repeat: no-repeat;
background-size: cover;
}
/*divs de prueba en charts.html*/
#div1,#div2,#div3, #div4, #div5, #div6 {
	margin-top: 100px;
}

#div1, #div3, #div5{
	float: left;
	margin-left: 500px; 
}
#div2, #div4, #div6{
	float: left;
	margin-left: 80px;
}

/*Login*/
.login-form{
  width:500px;
  padding:20px 15px;
  background:rgba(75,121,161,0.5);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:150px auto;
}


/*loader*/
.loader {
  position: absolute;
  left: 480px;
  top: 150px;
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #243B55; /* Darker Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}

/*spinner animation for loader*/
@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}