#container{
    position: relative;
    width: 150px;
    height: 200px;
}
#main_image{

    width: 100%;
    height: 100%;
}
#overlay_image{
    position: absolute;
    bottom: 0px;
    right: -50px;
    width: 50px;
    height: 50px;
}


#PersonInfo{
	background-color: #e9ebee
}

body {
background-image: url(../images/bg.PNG);
background-repeat: no-repeat;
background-size: cover;
background-attachment: fixed;
}

#FixedImage{
	margin-left: 20px;
	position: fixed;
	top: 80;
	left: 20;}

p.blocktext{
	margin-left: 0;
    margin-right: auto;
    width: 12em
}

button.botoncandidato{
	margin-right: auto;
	margin-left: auto;
	width: 200px;
}
p.CenterName{
	font-size: 20px;
	margin-left: 0;
    margin-right: auto;
    width: 200px;
    text-align: center;
}
p.CenterParty{
	font-size: 15px;
	margin-left: 0;
    margin-right: auto;
    width: 200px
}
#Photo{
	margin-top: 65px;
	margin-left: 20px;
	margin-right: auto;

}
img.candidate{
	width: 200px;
	height: 200px;
}

img.party{
	width: 50px;
	height: 50px;
}


body {
      position: relative; 

  }
.electionType{
	font-size: 24px;
	margin-bottom: 30px;
	margin-top: 20px;
 }
 .btn-info{
 	font-size: 22px;
 	border-radius: 5px;
 	width: 210px;
 	background: linear-gradient(#457fca, #5691c8) !important;
 }
 .btn-primary{
 	background: linear-gradient(#4B79A1, #283E51) !important;
 	font-size: 22px;
 	border-radius: 5px;
 	margin-top: 10px;
 	height: 40px;
 	width: 210px;
 }
#presidencial {padding-top:50px;height: auto; }
#senadores {padding-top:50px;height:auto; }
#diputados {padding-top:50px;height:auto; }
#finalizar {padding-top:50px;height:auto; }



.btn-light { 
	font-size: 20px;
	width: 210px;
	height: 50px;
	border-radius: 5px;
	background: linear-gradient(#004e92, #000428) !important;
	color: white;