
@font-face {
    font-family: 'roboto';
    src: url('/css/fonts/RobotoCondensed-Regular.ttf');
}
.partyfields {text-align: center;}
.header-logo {text-align: center; width: 100%;}
.header-logo img{ width: 190px;  border-radius: 50%; height: 190px; margin: 20px; box-shadow: 0px 0px 1px #000;}
.info-people-container {width: 100%;}
.info-people-container .info-poeple{padding-left: 15px;  padding-right: 15px; text-align: center;}
.header-title h4{ text-align: center; font-size: 30px;}
.row-magin div {margin-bottom: 20px;}
.no-margin  {margin-bottom: 15px !important;}
.no-margin-top {margin-top: 15px;}
.form-group-block .form-group{display: inline-block !important; width: 33%;}
.form-group-block .form-group select {width: 70%; margin-left: 10px;}
.form-group-block-full .form-group{width: 100%; display: block;}
.form-group-block-full .form-group select {width: 40%; margin-left: 10px;}
.buttons .btn-success{margin-right: 34px;}
.form-group-block input {width: 64% !important;}
.form-group-block textarea { width: 100% !important;}
.navbar-inverse { position: fixed !important;}
.navbar {margin-bottom:  0px;}
.form-group-md .form-group { margin-bottom: 10px !important; width: 100%; display: block;}
.form-group-md .form-group input[type="text"]  { margin-bottom: 15px;}
.preview-img{ height: 150px; width: 150px; border: 1px solid #ccc;}
.preview-img img { width: 150px; height: 150px;}
.preview-img2{height: 150px; width: 150px; border: 1px solid #ccc;}
.preview-img2 img { width: 150px; height: 150px;}
.circle-button { border-radius: 50% !important; width: 60px; height: 60px; box-shadow: 0px 1px 6px #5f5b5b;}
.circle-button i { font-size: 25px;}
.flotante { display:scroll; position:fixed; bottom:20px; right:0px; }
.form-group-select .form-group { display: block;}
.form-group-select .form-group  select { width: 72%; margin-left: 33px;}
.form-group-select2 .form-group { display: block;}
.form-group-select2 .form-group  select {text-align: center; width: 72%; margin-left: 33px;}
.form-group-modal .form-group {display: block; }
.form-group-modal .form-group  select { margin-left: 6px; width: 67%; float: right;}

.row-magin-modal div {margin-bottom: 10px;}
.row-magin-modal textarea {width:100% !important;}
.row-magin-modal input[type='text'], input[type='radio'] { margin-bottom: 10px;}
.label-modal label { padding-left: 0px; }
.button-avatar {display: inline-block; background: #ccc; border-radius: 5px; font-weight: 800; cursor:pointer; box-shadow: 0px 1px 5px #383535; }
.button-avatar:hover { background: rgba(183, 179, 179, 0.88);}
.button-avatar > div { margin-bottom:  0px; padding: 10px;}
.preview-img-modal { display: inline-block; height: 115px; width: 115px; border: 1px solid #ccc;}
.preview-img-modal img{ width: 115px; height: 115px;}
.success-request{ position: absolute; top: 0; left:  50%;}
.success-request h4 { margin-bottom: 0px;}
.success-request-fixed { position: fixed; background: #5cb85c; color:#fff; top: 50%; left: 50%;}
.success-request-fixed h4 { margin-bottom: 0px; display: inline-block;}
.success-request-fixed .container-success {margin-bottom: 0px;}
.success-request-fixed .container-success i{ font-size: 30px;}
/*Modal*/
.modal-header {padding: 0px;}
.modal-header .modal-title{ transform: translateY(0); margin-left: 10px; font-size: 21px;}
.check-request { position: absolute; transform: translate(50%); top: 0px; right: -15px; font-size: 25px !important; color: green;}
.input-day input[type="text"]{margin-bottom: 0px;}
.no-padding-left,.input-day { padding-left: 0px;}
/*.odd {display: none;}*/
.uib-daypicker tr > td > button {width: 36px !important;}
.uib-button-bar  button { width: 52px !important; margin: 0px !important;}
.uib-month button {width: 92px !important; }
.title-label{ display: block; padding: 10px;}
.select-item img{ cursor:pointer;}
.item-check {display: block;}
.item-check i {     position: static; display: inline-block;}
i.selected-item  {color: #008000;   top: 0; left: -37px; font-size: 23px; background: #ccc;}
.image-party {width: 80px; height: 80px;}
