body {
background-image: url(bg.PNG);
background-repeat: no-repeat;
background-size: cover;
}
#div1,#div2,#div3, #div4, #div5, #div6 {
	margin-top: 100px;
}

#div1, #div4{
	float: left;
	margin-left: 500px; 
}
#div2, #div6{
	float: left;
	margin-left: 80px;
}
#div3, #div5{
	float: left;
	margin-left: 80px;
}

.login-form{
  width:500px;
  padding:20px 15px;
  background:rgba(75,121,161,0.5);
  border-radius:4px;
  -moz-border-radius:4px;
  -webkit-border-radius:4px;
  margin:50px auto;
}
