<div class="modal-header">
  <h3 class="modal-title" id="modal-title">Vote</h3>
</div>

<div class="modal-body" id="modal-body">
  <form class="form-inline row-magin-modal buttons">
    <h5>Do you want to vote for:</h5>
    <strong>{{displayNameCandidate}}</strong>
</div>
<div class="modal-footer">
    <!--home row -->
    <div class="row">
      <div class="col-md-12 text-center">
        <button class="btn btn-success"  type="button" ng-click="ok(confirmation.yes)">Yes</button>
        <button class="btn btn-danger" type="button" ng-click="cancel(confirmation.no)">No</button>
      </div>
    </div><!--end row -->
  </form><!--end form -->
</div>
</div>